.secao-servicos {
    width: 100%;
}

.secao-servicos__titulo-principal {
    color: #F19245;
    font-size: 70px;
    font-weight: bold;
    margin: 50px 0 0 100px;
    width: 60%;
}

.servicos-lula {
    width: 100%;
}

.servicos-titulo__item {
    color: #A04800;
    font-size: 45px;
    font-weight: bold;
    margin: 50px 0 0 100px;
}

.servicos-descricao__item {
    color: #A04800;
    font-size: 36px;
    font-weight: 200;
    margin-left: 100px;
    margin-bottom: 50px;
}

.servicos-casa__videos {
    display: flex;
    justify-content: center;
}

.servicos-matiz__conteudos {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.servicos-matiz__conteudos p {
    color: #A04800;
    font-size: 35px;
    font-weight: 300;
    line-height: 42px;
    margin-bottom: 25px;
    width: 300px;
}

.servicos-matiz__conteudos em {
    font-weight: 600;
}


.servicos-matiz__conteudos img {
    height: 960px;
    width: 540px;
}

.servicos-genesis__conteudos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.servicos-genesis__carrossel {
    display: flex;
    margin-top: 20px;
    width: 100%;

}

.servicos-genesis__carrossel img {
    height: 500px;
    width: calc(100%/3);
}

.servicos-dados {
    align-items: center;
    background-image: url(../../img/banner-dados.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: center;
    width: 100%;
}

.servicos-dados .servicos-dados__titulo {
    color: #ffffff;
    font-size: 67px;
    font-weight: 900;
    margin-bottom: 10px;
    text-align: center;
    text-shadow: 2px 2px 20px #000000;
    width: 450px;
}

.servicos-dados p {
    font-family: 'Robto Serif';
    font-size: 45px;
    text-shadow: 2px 2px 20px #000000;
}