.secao-servicos {
    width: 100%;
}

.secao-servicos__titulo-principal {
    color: #F19245;
    font-size: 70px;
    font-weight: bold;
    margin: 50px 0 0 100px;
    width: 60%;
}

@media screen and (max-width: 840px) {
    .secao-servicos__titulo-principal  {
        font-size: 2.5em;
        margin: 25px 0 0 25px;
    }
}


.servicos-lula {
    width: 100%;
}

.servicos-titulo__item {
    color: #A04800;
    font-size: 45px;
    font-weight: bold;
    margin: 50px 0 0 100px;
}

@media screen and (max-width: 840px) {
    .servicos-titulo__item  {
        font-size: 1.7em;
        margin: 25px 0 0 25px;
        width: 80%;
    }
}

.servicos-descricao__item {
    color: #A04800;
    font-size: 36px;
    font-weight: 200;
    margin-left: 100px;
    margin-bottom: 20px;
}

@media screen and (max-width: 840px) {
    .servicos-descricao__item {
        font-size: 1.4em;
        margin: 5px 0 25px 25px;
        width: 80%;
    }
}

.servicos-descricao__item-det {
    color: #A04800;
    font-size: 20px;
    margin: 0 0 60px 100px;
    width: 50%;
}

@media screen and (max-width: 840px) {
    .servicos-descricao__item-det{
        font-size: 1.2em;
        line-height: 30px;
        margin: 5px 10px 25px 25px;
        width: 80%;
    }
}

.servicos-campanha-fatima__conteudos {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.campanha-fatima__video {
    height: 500px;
    margin-bottom: 50px;
    width: 100%;
}

.servicos-casa__videos {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 840px) {
    .servicos-casa__videos{
        flex-direction: column;
    }
}

@media screen and (max-width: 840px) {
    .responsive-video__casa{
        height: 500px;
        width: 100%;
    }
}

.servicos-matiz__conteudos {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 840px) {
    .servicos-matiz__conteudos{
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
}

.servicos-matiz__conteudos p {
    color: #A04800;
    font-size: 35px;
    font-weight: 300;
    line-height: 42px;
    margin-bottom: 25px;
    width: 300px;
}

@media screen and (max-width: 840px) {
    .servicos-matiz__conteudos p{
        font-size: 1.4em;
        line-height: 30px;
        margin: 0 0 20px 25px;
    }
}

.video-matiz {
    height: 640px;
    width: 360px;
}

@media screen and (max-width: 840px) {
    .video-matiz{
        width: 100%;
    }
}


.servicos-matiz__conteudos img {
    height: 640px;
    width: 360px;
}

@media screen and (max-width: 840px) {
    .servicos-matiz__conteudos img{
        height: auto;
        width: 100%;
    }
}

.servicos-genesis__conteudos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width: 840px) {
    .video-genesis {
        width: 100%;
    }
}

@media screen and (max-width: 840px) {
    .servicos-genesis__conteudos .img-genesis {
        height: 500px;
        width: 100%;
    }
}

.servicos-genesis__carrossel {
    display: flex;
    margin-top: 20px;
    width: 100%;

}

@media screen and (max-width: 840px) {
    .servicos-genesis__carrossel {
        margin: 0;
        flex-direction: column;
    }
}

.servicos-genesis__carrossel img {
    height: 500px;
    width: calc(100%/3);
}

@media screen and (max-width: 840px) {
    .servicos-genesis__carrossel img {
        height: 450px;
        width: 100%;
    }
}

.servicos-delineare {
    background-color: #A04800;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 50px;
    width: 100%;
}

.servicos-delineare .img-delineare__banner {
    height: auto;
    margin-bottom: 50px;
    width: 100%;
}

.video-delineare {
    height: 640px;
    width: 360px;
}

.servicos-dados {
    align-items: center;
    background-image: url(../../img/banner-dados.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: center;
    width: 100%;
}

.servicos-dados .servicos-dados__titulo {
    color: #ffffff;
    font-size: 67px;
    font-weight: 900;
    margin-bottom: 10px;
    text-align: center;
    text-shadow: 2px 2px 20px #000000;
    width: 450px;
}

@media screen and (max-width: 840px) {
    .servicos-dados .servicos-dados__titulo{
        font-size: 2em;
        width: 70%;
    }
}

.servicos-dados p {
    background-color: #F19245;
    font-family: 'Robto Serif';
    font-size: 45px;
}

@media screen and (max-width: 840px) {
    .servicos-dados p{
        font-size: 1.6em;
    }
}