.secao-tecnologias {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 760px;
    width: 100%;
    overflow: hidden;
}

.secao-tecnologias::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    background-image: url(../../img/IMG_0834-_1_.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    filter: grayscale(100%);
    z-index: -1;
}


@media screen and (max-width: 840px) {
    .secao-tecnologias  {
        height: 450px;
    }
}


.tecnologias-container-int {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 50%;
}

@media screen and (max-width: 840px) {
    .tecnologias-container-int {
        width: 80%;
    }
}


.tecnologias-container-int h4 {
    background-color: #F19245;
    font-family: 'League Spartan', sans-serif;
    font-size: 30px;
    font-weight: bold;
    padding: 5px;

}

@media screen and (max-width: 840px) {
    .tecnologias-container-int h4 {
        background: none;
       font-size: 1.2em;
    }
}


.tecnologias-container-nivel {
    background-color: #7c7c7c75;
    height: 30px;
    width: 250px;
    border-radius: 30px;
}

@media screen and (max-width: 840px) {
    .tecnologias-container-nivel {
        height: 15px;
        width: 100px;
    }
}


.tecnologias-container-int .tecnologias-nivel-capcut {
    background-color: #F19245;
    height: 30px;
    width: 100%;
    border-radius: 30px;
}

@media screen and (max-width: 840px) {
    .tecnologias-container-int .tecnologias-nivel-capcut  {
        height: 15px;
    }
}

.tecnologias-container-int .tecnologias-nivel-inshot {
    background-color: #F19245;
    height: 30px;
    width: 95%;
    border-radius: 30px;
}

@media screen and (max-width: 840px) {
    .tecnologias-container-int .tecnologias-nivel-inshot  {
        height: 15px;
    }
}


.tecnologias-container-int .tecnologias-nivel-ligthroom {
    background-color: #F19245;
    height: 30px;
    width: 86%;
    border-radius: 30px;
}

@media screen and (max-width: 840px) {
    .tecnologias-container-int .tecnologias-nivel-ligthroom  {
        height: 15px;
    }
}


.tecnologias-container-int .tecnologias-nivel-canva {
    background-color: #F19245;
    height: 30px;
    width: 100%;
    border-radius: 30px;
}

@media screen and (max-width: 840px) {
    .tecnologias-container-int .tecnologias-nivel-canva  {
        height: 15px;
    }
}


.tecnologias-container-int .tecnologias-nivel-oficce {
    background-color: #F19245;
    height: 30px;
    width: 85%;
    border-radius: 30px;
}

@media screen and (max-width: 840px) {
    .tecnologias-container-int .tecnologias-nivel-oficce  {
        height: 15px;
    }
}


.tecnologias-container-int .tecnologias-nivel-google {
    background-color: #F19245;
    height: 30px;
    width: 96%;
    border-radius: 30px;
}

@media screen and (max-width: 840px) {
    .tecnologias-container-int .tecnologias-nivel-google  {
        height: 15px;
    }
}
