.servicos-lula__videos {
    display: flex;
    justify-content: center;
    background-color: brown;
}

.video-lula {
    height: calc(1920px/3);
    width: calc(100%/3);
}

.lula-botoes {
    align-items: center;
    background-color: #F19245;
    display: flex;
    justify-content: space-around;
    height: 60px;
    width: 100%;
}

.lula-botoes p a {
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.2s;
}

.lula-botoes p a:hover {
    cursor: pointer;
    font-weight: 700;
}

