.secao-radio {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
}

.secao-radio__titulo {
    color: #105555;
    font-size: 90px;
    font-weight: 900;
    padding: 50px 50px 10px 100px;
    text-align: right;
    text-transform: uppercase;
}

.secao-radio__descricao {
    color: #105555;
    font-size: 30px;
    font-weight: 100;
    line-height: 52px;
    padding: 0px 50px 10px 150px;
    text-align: right;
}