.secao-radio {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 100px;
    width: 100%;
}

@media screen and (max-width: 840px) {
    .secao-radio {
        margin-top: 20px;
    }
}

.secao-radio__titulo {
    color: #105555;
    font-size: 90px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}

@media screen and (max-width: 840px) {
    .secao-radio__titulo{
        font-size: 2.5em;
        padding: 20px 0 0 25px;
        text-align: left;
    }
}

.secao-radio__descricao {
    align-self: center;
    color: #105555;
    font-size: 30px;
    font-weight: 100;
    line-height: 52px;
    text-align: center;
    width: 1000px;
}

@media screen and (max-width: 840px) {
    .secao-radio__descricao {
        align-self: flex-start;
        font-size: 1.6em;
        line-height: 25px;
        text-align: left;
        padding: 10px 10px 25px 25px;
        width: 80%;
    }
}

.secao-radio__conteudos {
    align-items: center;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
}

@media screen and (max-width: 840px) {
    .secao-radio__conteudos {
        flex-direction: column;
        margin-top: 20px;
    }
}

.secao-radio__conteudos-item {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 15px;
    width: 200px;
}

.secao-radio__conteudos-item audio {
    height: 100px;
    width: 300px;

}

.secao-radio__conteudos-item h3 {
    color: #105555;
    font-weight: 600;
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
}