.secao-contato {
    align-items: center;
    background-color: #48623B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0 50px 0;
    width: 100%;
}

@media screen and (max-width: 840px) {
    .secao-contato {
        display: none;
    }
}

.secao-contato__titulo {
    text-align: center;
    width: 100%;
}

.tabela-contato {
    margin-top: 40px;
    width: 800px;
    height: 100px;
}

.tabela-contato__coluna {
    font-size: 20px;
    font-weight: 500;
    height: 30px;
    text-align: left;
}


.tabela-contato__linhas {
    font-size: 15px;
    font-weight: 200;
}




