.secao-sobre {
    align-items: center;
    color: black;
    background-color: #ffffff;
    background-size: cover;
    box-sizing: border-box; /* Inclui padding no tamanho total do elemento */
    display: flex;
    justify-content: center;
    height: auto;
    line-height: 32px;
    padding: 50px; /* Margem interna */
    width: 100%;
    overflow: hidden; /* Impede o vazamento de conteúdo */
    flex-wrap: wrap; /* Permite que os itens se reorganizem nas telas menores */
}

@media screen and (max-width: 840px) {
    .secao-sobre {
        padding: 20px; /* Menos padding para telas menores */
        flex-direction: column;
        justify-content: center;
        width: 100%;
        overflow: hidden;
    }
}

.img-sobre-mim {
    height: 600px;
    width: auto;
    border-radius: 14px;
    max-width: 100%; /* Garante que a imagem não ultrapasse a tela */
    margin-bottom: 20px; /* Margem inferior para dar espaçamento */
}

@media screen and (max-width: 840px) {
    .img-sobre-mim {
        height: auto; /* Mantém a proporção da imagem */
        width: 80%; /* Imagem ocupa 100% da largura */
        margin-bottom: 20px; /* Espaçamento entre a imagem e o conteúdo */
    }
}

.secao-sobre div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 40%;
    margin-right: 20px; /* Margem entre os elementos */
}

@media screen and (max-width: 840px) {
    .secao-sobre div {
        margin-top: 20px;
        margin-right: 0;
        width: 100%; /* Ocupa toda a largura em telas pequenas */
    }
}

.titulo-secao {
    font-family: 'League Spartan', sans-serif;
    align-self: flex-start;
    line-height: 1;
    font-size: 60px;
    font-weight: 700;
    text-align: left;
    width: 80%;
    margin-bottom: 10px;
}

@media screen and (max-width: 840px) {
    .titulo-secao {
        align-self: center;
        font-size: 1.8em;
        margin-bottom: 15px;
        width: 80%;
    }
}

.secao-sobre__descricao {
    align-self: flex-start;
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
    font-weight: 100;
    margin-top: 10px;
    text-align: left;
    width: 100%;
}

@media screen and (max-width: 840px) {
    .secao-sobre__descricao {
        align-self: center;
        font-size: 1.2em;
        margin-bottom: 30px;
        width: 80%;
    }
}
