.secao-sobre {
    align-items: center;
    background-color: #105555;
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    height: 650px;
    line-height: 32px;
    padding: 50px 100px;
    width: 100%;
}

@media screen and (max-width: 840px) {
    .secao-sobre {
        padding: 0;
        flex-direction: column;
        width: 100%;
    }
}

.img-sobre-mim {
    height: 380px;
    width: auto;
}

@media screen and (max-width: 840px) {
    .video-sobre-mim {
        height: auto;
        width: 100%;
    }
}

.secao-sobre div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 50%;
    margin-right: 20px;
}

@media screen and (max-width: 840px) {
    .secao-sobre div {
        margin-top: 20px;
        margin-right: 0;
        width: 100%;

    }
}

.titulo-secao {
    align-self: flex-start;
    font-size: 30px;
    font-weight: 700;
    text-align: left;
    width: 80%;
}

@media screen and (max-width: 840px) {
    .titulo-secao {
        align-self: center;
        margin-bottom: 15px;
        width: 80%;

    }
}

.secao-sobre__descricao {
    align-self: flex-start;
    font-family: 'Roboto Serif';
    font-size: 20px;
    font-weight: 100;
    margin-top: 10px;
    text-align: left;
    width: 90%;
}

@media screen and (max-width: 840px) {
    .secao-sobre__descricao {
        align-self: center;
        font-size: 1.2em;
        margin-bottom: 30px;
        width: 80%;

    }
}