.secao-sobre {
    align-items: center;
    background-color: #F19245;
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    height: auto;
    line-height: 32px;
    padding: 50px 100px;
    width: 100%;
}

@media screen and (max-width: 840px) {
    .secao-sobre {
        padding: 0;
        flex-direction: column;
    }
}

.video-sobre-mim {
    height: 500px;
    width: 50%;
}

@media screen and (max-width: 840px) {
    .video-sobre-mim {
        width: 100%;
    }
}

.secao-sobre div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 50%;
    margin-right: 20px;
}

@media screen and (max-width: 840px) {
    .secao-sobre div {
        margin: 20px 0px 20px 0;
        width: 80%;

    }
}

.titulo-secao {
    align-self: flex-end;
    font-size: 30px;
    font-weight: 700;
    text-align: end;
    width: 60%;
}

@media screen and (max-width: 840px) {
    .titulo-secao {
        width: 80%;

    }
}

.secao-sobre__descricao {
    align-self: flex-end;
    font-family: 'Roboto Serif';
    font-size: 20px;
    font-weight: 100;
    text-align: end;
    width: 100%;
}

.secao-sobre__descricao em {
    font-weight: 700;
}